/*
    See these as reference source
    https://wrapbootstrap.com/search?q=restaurant
    http://wrapbootstrap.com/preview/WB0P56R61
    http://www.lulu-cafe.com/
        
    */

.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .item {
    position: fixed; 
    width: 100%; height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}
.carousel .one {
    background: url(assets/img/slide3blur.jpg);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .two {
    background: url(assets/img/slide2blur.jpg);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .three {
    background: url(assets/img/slide1blur.jpg);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}

.carousel1 {
    background-image: url("assets/nww-desktop-marquee.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    width:550px;
    height:100px;
    min-width:550px;
    min-height:100px;
    max-width:200px;
    max-height:100px;
    overflow:hidden;
    display:block;
    border:1px solid red;
}

@media only screen and (max-width:767px) {
    .carousel1 {
        background-image: url("assets/nww-desktop-marquee.jpg");
        background-repeat: no-repeat;
        background-position: center 0;
    }
}
/*
body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}
    */

/* Styles for basic forms
-----------------------------------------------------------*/

/*
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}
    */

/* Styles for validation helpers
-----------------------------------------------------------*/
/*
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

    */
/* Header  -----------------------------------------------------------*/

/*
.background-header
{
    height:93px;
    width:100%;
    background: url(Content/image/header.png) bottom repeat-x;
}

.navbar-header ul li a
{
    font: 900 14px Lato,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #faf8eb !important;
    display: block;
    text-decoration: none;    
}
    */
