@{
    ViewBag.Title = "Index food1 home";
}

<h2>Index food1 home</h2>

  <div class="bs-example">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item one active">
                <img src="~/assets/nww-desktop-marquee.jpg" style="max-height:200%; max-width:200%;align-self:center;"  alt="..."> 
                </div>
            <div class="item two">
                <img src="~/assets/desktop-marquee-en.jpg" alt="...">
                </div>
            <div class="item three">
                <img src="~/assets/sips-and-snacks-desktop-marquee.jpg" alt="...">
                </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

</div>
</div>
